<!-- contenedor -->
<div class="container mt-4">
    <p class="route-url">Iron-Revolution-Center / Estadisticas</p>
    <div class="container-main-dashboard">
        <p class="title-page"><mat-icon class="icon">bar_chart</mat-icon>Estadisticas<p>

        <div class="filter"></div>

        <div class="card clients-registered">
            <p class="title">Clientes</p>
            <p class="subtitle">Clientes registrados</p>
            <p class="count">340</p>
        </div>

        <div class="card clients-active">
            <p class="title">Clientes</p>
            <p class="subtitle">Clientes activos en la sucursal</p>
            <p class="count">100</p>
        </div>

        <div class="card employees-registered">
            <p class="title">Empleados</p>
            <p class="subtitle">Empleados registrados</p>
            <p class="count">4</p>
        </div>

        <div class="card most-frequent">
            <p class="title">Más frecuentado</p>
            <p class="location">Tabasco</p>
            <mat-icon class="icon-most-frequent">people</mat-icon>
        </div>
    </div>
</div>
